<div class="min-h-screen bg-gray-500 py-6 px-4 sm:px-6 lg:px-8">
  <div class="max-w-4xl mx-auto">
    <p-card>
      <div class="mb-8">
        <h1 class="text-3xl font-bold text-gray-900 mb-12 text-center underline">{{ title }}</h1>
        
        <!-- Workout Form Component -->
        <app-workout-form (workoutAdded)="onWorkoutAdded($event)"></app-workout-form>
      </div>

      <!-- Workout Chart Component -->
      <div class="mb-8">
        <h2 class="text-2xl font-bold text-gray-900 mb-4">Workout Progress</h2>
        <app-workout-chart></app-workout-chart>
      </div>

      <!-- Workout Table Component -->
      <div>
        <h2 class="text-2xl font-bold text-gray-900 mb-4">All Workouts</h2>
        <app-workout-table></app-workout-table>
      </div>
    </p-card>
  </div>
</div>